/*
   Reset Style Sheet
   Dubrovnik Travel Website
*/

html, body, header, nav, main, section, article, aside, footer,
div, span, h1, h2, h3, p, a, ul, ol, li, figure, figcaption,
img, video, table, caption, thead, tbody, tr, th, td {
   margin: 0;
   padding: 0;
   border: 0;
   font: inherit;
   vertical-align: baseline;
}

header, nav, main, section, article, aside, footer, figure {
   display: block;
}

ul, ol {
   list-style: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}
